<!DOCTYPE html>
<html>
  <head>
    <title>FinalProject</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%# <link rel="stylesheet" href="https://unpkg.com/mvp.css"> %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
    <%= javascript_pack_tag 'index' %>
    <script src="https://js.stripe.com/v3/"></script>
  </head>

  <body>
    <section class="container">
      <div class="content">
        <%= yield %>
      </div>
    </section>
  </body>
</html>
